<section id="about">
    <div class="wrapper">
        <div class="row">
              <div class="col-md-5 about_section_lft text-center">
                  <img src="/assets/images/about_img.png" />
              </div>
              <div class="col-md-7 about_section_rt">
                <div class="heading">About Us</div>
                  <div class="heading_sep"></div>
                  <div class="about_subhd"> Training and education specialist</div>
                  <div class="about_content">Providing various soft skill and technical corporate training programs.</div>
                  <div class="about_content">We are a PSMB (HRDF) accredited training provider.</div>
                  <div class="about_content">A subsidiary of Hexamatics group of companies (inc. 2002) – an industry<br>expert in telco and IT industry in Malaysia and Asian region.</div>
              </div>
        </div>
      </div>
    </section>